@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors

// Update Bulma's global variables
$family-sans-serif: 'Nunito', sans-serif;
// Disable the widescreen breakpoint
$widescreen-enabled: false;

// Disable the fullhd breakpoint
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: hsl(0, 1%, 29%);

// Import only what you need from Bulma
@import '../node_modules/bulma/bulma';

@mixin button($default-color, $active-color) {
  border-color: transparent;
  background-color: $default-color;
  color: white;
  margin-right: 0.5em;
  margin-bottom: 1em;
  &.is-active {
    background-color: $active-color;
  }
  @media (max-width: 768px) {
    margin-right: 2em;
  }
}

.pgm {
  .button {
    @include button(#ac6d6d, #ff0000);
  }
}

.me_a {
  .button {
    @include button(#adadad, #00e1ff);
  }
}
.me_b {
  .button {
    @include button(#adadad,#ffb700);
  }
}
.me_c {
  .button {
    @include button(#adadad,#ff00c8);
  }
}
.me_d {
  .button {
    @include button(#adadad, #77d04e);
  }
}

.me_dsk {
  .button {
    @include button(#adadad, #d0ce4e);
  }
}
.prev {
  .button {
    @include button(#689c68, #4dff00);
  }
}

.label {
  color: white;
  &:first-child {
    display: inline-block;
    min-width: 3em;
    padding-top: calc(0.5em - 1px);
  }
}
